body {
  width: 100%;
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: clamp(1rem, 0.9182rem + 0.3636vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 1.9153rem + 0.678vw, 3rem);
  text-align: center;
  margin: 0;
  padding: 16px;
}

h2 {
  margin: 0;
}

main {
  width: 60rem;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
}

p {
  text-align: start;
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.task1 {
  font-size: 1rem;
  background-color: #dfdfe2;
}

.task2 {
  font-size: 1rem;
  background-color: #f5f6f7;
}

.cashRegister {
  display: flex;
  justify-content: space-around;
}

.cashRegister2 {
  display: flex;
  flex-direction: column;
}

.priceCash {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

a {
  font-size: clamp(0.5rem, 0.4746rem + 0.2034vw, 0.8rem);
}

code {
  font-size: clamp(0.7rem, 0.6746rem + 0.2034vw, 1rem);
  border-style: solid;
  padding: 16px;
}

form {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 10px;
  background-image: url(img/cash-3516804__340.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

button {
  font-size: clamp(1rem, 0.9182rem + 0.3636vw, 1.5rem);
  text-align: center;
  width: 50%;
  padding: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-top: clamp(1.5rem, 1.4182rem + 0.3636vw, 2rem);
}

input {
  width: 10rem;
  height: 2rem;
  text-align: center;
  font-size: clamp(0.8rem, 0.7407rem + 0.4746vw, 1.5rem);
  background-color: #f5f6f7;
}

label {
  margin: 10px;
}

output {
  margin: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
  background-color: #f5f6f7;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-top: -50px;
  color: black;
  padding: 0px 20px 0px 20px;
  display: inline-block;
  width: 80%;
}

.codeBlock {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inputOutputDiv {
  margin: 10px;
}

footer {
  font-size: clamp(0.5rem, 0.4746rem + 0.2034vw, 0.8rem);
}

@media only screen and (max-width: 1000px) {
  main {
    width: clamp(12.5rem, 0.625rem + 95vw, 60rem);
  }
}

@media only screen and (max-width: 460px) {
  .cashRegister {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  output {
    width: 90%;
  }
}
