body {
  margin: 0;
  padding: 0px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: #283655;
}

h1 {
  font-size: clamp(1rem, 0.5714rem + 2.1429vw, 4rem);
  text-align: center;
}

p {
  text-align: center;
  font-size: clamp(0.9rem, 0.7rem + 1vw, 2.3rem);
}

.surveyForm {
  padding: 5px;
}

.textformular {
  font-size: clamp(0.6rem, 0.5143rem + 0.4286vw, 1.2rem);
  margin-bottom: clamp(0.6rem, 0.5429rem + 0.2857vw, 1rem);
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}

.textpick {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  font-size: clamp(0.7rem, 0.6143rem + 0.4286vw, 1.3rem);
}
