html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: hsl(249, 23%, 89%);
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

.sidestructure {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.textheader {
  color: #7b95d7;
  height: 100px;
  position: absolute;
  top: 0vh;
  right: 0vw;
  left: 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2em;
}

.nav-bar a {
  text-decoration: none;
  color: #7b95d7;
  margin-left: 10px;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: #f79eb3;
}

.productpage {
  text-align: center;
  background-color: hsl(249, 23%, 89%);
}

.sidebar {
  background-color: #dcbff6;
  min-width: max-content;
}

.pictureproduct {
  object-fit: contain;
  background-color: #c1cd5d;
  width: 40vw;
}

.productbox {
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;

  border: #7b95d7;
  border-style: double;
}

.formular {
  font-size: 1.5em;
}

.message {
  width: 20vw;
  height: 50px;
  text-align: center;
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }

  .productpage {
    width: 100vw;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }
  .video {
    width: auto;
  }

  .message {
    width: 50vw;
  }
}
