body {
  font-family: Verdana;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
}

main {
  background-color: #eeeeee;
  margin: 0;
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: clamp(1.2rem, 0.9429rem + 1.2857vw, 3rem);
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: clamp(0.8rem, 0.6286rem + 0.8571vw, 2rem);
  margin-bottom: 0;
}

h5 {
  text-align: center;
  margin-bottom: 0;
  width: clamp(10rem, 5.0909rem + 21.8182vw, 40rem);
  font-size: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
}

p {
  text-align: center;
  display: block;
  margin-block-start: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
  margin-block-end: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.titleunder {
  margin-top: 0.5rem;
  margin-bottom: clamp(0.8rem, 0.6286rem + 0.8571vw, 2rem);
}

.img-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
  max-width: clamp(10rem, 5.0909rem + 21.8182vw, 40rem);
  padding: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
  object-fit: contain;
  background-color: #eeeeee;
}

.img-caption {
  padding-bottom: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
  max-width: clamp(25.6rem, 19.3164rem + 27.9273vw, 64rem);
}

.tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historytable {
  max-width: clamp(25.6rem, 19.3164rem + 27.9273vw, 64rem);
}

li {
  padding: clamp(0.6rem, 0.5836rem + 0.0727vw, 0.7rem);
  text-align: start;
}

.quote {
  padding: clamp(0.8rem, 0.6286rem + 0.8571vw, 2rem);
  font-style: italic;
}

footer {
  padding: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
}

.footerdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infowiki {
  width: clamp(3.75rem, -0.8727rem + 20.5455vw, 32rem);
  display: flex;
  justify-content: center;
  padding: clamp(1rem, 0.7857rem + 1.0714vw, 2.5rem);
  font-size: 0.6rem;
}

.wikilink {
  text-align: center;
  padding: 0.5rem;
}

.wikilog {
  max-width: clamp(0.6rem, -0.3245rem + 4.1091vw, 6.25rem);
  object-fit: contain;
}

@media only screen and (max-width: 1200px) {
  .infowiki {
    display: flex;
    flex-direction: column;
  }
}
