body {
  text-align: center;
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: clamp(1rem, 0.9576rem + 0.339vw, 1.5rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin-right: clamp(1.6rem, 1.3966rem + 1.6271vw, 4rem);
  font-size: clamp(1.6rem, 1.3966rem + 1.6271vw, 4rem);
  color: red;
}

h2 {
  font-size: clamp(1rem, 0.9576rem + 0.339vw, 1.5rem);
}

h3 {
  font-size: clamp(1rem, 0.9746rem + 0.2034vw, 1.3rem);
}

img {
  height: clamp(2rem, 1.7458rem + 2.0339vw, 5rem);
  object-fit: scale-down;
}

p {
  font-size: (0.8rem, 0.7661rem + 0.2712vw, 1.2rem);
  margin: 5px;
}

canvas {
  width: 37.5rem;
  height: 37.5rem;
}

@media only screen and (max-width: 600px) {
  canvas {
    width: 95vw;
    height: 95vw;
  }
}
