html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: hsl(249, 23%, 89%);
}

h2 {
  font-size: clamp(1.2rem, 0.9429rem + 1.2857vw, 3rem);
}

h3 {
  font-size: clamp(1rem, 0.7857rem + 1.0714vw, 2.5rem);
}

p {
  font-size: clamp(0.6rem, 0.5018rem + 0.4364vw, 1.2rem);
}

.sidestructure {
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: clamp(3.8rem, 2.8673rem + 4.1455vw, 9.5rem);
  object-fit: cover;
}

.textheader {
  color: #7b95d7;
  height: clamp(2.5rem, 1.8864rem + 2.7273vw, 6.25rem);
  position: absolute;
  top: 0vh;
  right: 0vw;
  left: 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: clamp(0.8rem, 0.6036rem + 0.8727vw, 2rem);
  padding-right: clamp(0.8rem, 0.6036rem + 0.8727vw, 2rem);
  font-size: clamp(0.6rem, 0.5018rem + 0.4364vw, 1.2rem);
}

.nav-bar a {
  text-decoration: none;
  color: #7b95d7;
  margin-left: clamp(0.4rem, 0.3143rem + 0.4286vw, 1rem);
}

.nav-bar a:hover {
  text-decoration: underline;
  color: #f79eb3;
}

.productpage {
  text-align: center;
  background-color: hsl(249, 23%, 89%);
}

.sidebar {
  background-color: #dcbff6;
  min-width: max-content;
}

.pictureproduct {
  object-fit: contain;
  background-color: #c1cd5d;
  width: clamp(6rem, -2.2857rem + 41.4286vw, 64rem);
}

.productbox {
  margin-top: clamp(2.5rem, 1.8864rem + 2.7273vw, 6.25rem);
  padding-left: clamp(1.2rem, 0.9055rem + 1.3091vw, 3rem);
  padding-right: clamp(1.2rem, 0.9055rem + 1.3091vw, 3rem);
  padding-bottom: clamp(2.5rem, 1.8864rem + 2.7273vw, 6.25rem);

  border: #7b95d7;
  border-style: double;
}

.pictureproduct-video {
  width: clamp(6rem, 3.4286rem + 12.8571vw, 24rem);
  height: clamp(6rem, 3.4286rem + 12.8571vw, 24rem);
}

.formular {
  font-size: clamp(0.6rem, 0.4714rem + 0.6429vw, 1.5rem);
}

.message {
  width: clamp(6rem, 2.2857rem + 18.5714vw, 32rem);
  height: clamp(1.2rem, 0.9055rem + 1.3091vw, 3rem);
  text-align: center;
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }
}
/*
  .productpage {
    width: 100vw;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.2em;
  }
  .video {
    width: auto;
  }

  .message {
    width: 50vw;
  }
}
*/
