body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
}
main {
  width: clamp(12.5rem, 5.4237rem + 56.6102vw, 96rem);
}

h1 {
  padding: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
  margin: 0;
}

#toDoListDiv {
  text-align: center;
}

#inputDiv {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
}

input {
  margin-right: 1rem;
  font-size: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
  width: 80%;
}

.backgroundColor {
  background-color: rgb(162, 200, 224);
}

.checkTable {
  width: 10%;
  padding: 10px;
}
td {
  padding-left: clamp(3rem, 2.7458rem + 2.0339vw, 6rem);
  text-align: left;
  width: 80%;
  cursor: pointer;
  position: relative;
}
.deletedTable {
  width: 10%;
  padding: 10px;
  text-align: center;
  color: red;
}

#checkTableHead {
  width: 10%;
  padding: 10px;
}
#toDoTableHead {
  padding: 10px, 20px, 10px, 50px;
  text-align: start;
  width: 80%;
}
#deletedTableHead {
  width: 10%;
  padding: 10px;
}

button {
  font-size: clamp(1rem, 0.9153rem + 0.678vw, 2rem);
  width: fit-content;
}

tbody td:hover {
  background: #ececec;
}
tr td.checked::before {
  content: "";
  position: absolute;
  border-color: #05ba14;
  border-style: solid;
  border-width: 0 4px 4px 0;
  top: 1rem;
  left: 2rem;
  transform: rotate(45deg);
  height: 1.5rem;
  width: 0.8rem;
}

tr td.checked {
  color: #04b913;
  text-decoration: line-through;
}

tbody tr:nth-child(odd) {
  background: #f7f4f4;
}
